<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="LoyaltyGroup_LoyaltyPoints::loyalty"
                title="Loyalty Program"
                module="LoyaltyGroup_LoyaltyPoints"
                sortOrder="43"
                action="adminhtml/system_config/edit/section/loyalty"
                resource="LoyaltyGroup_LoyaltyPoints::loyalty"
        />
    </menu>
</config>