<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Module_Test::discount"
            title="Discount"
            module="Module_Test"
            sortOrder="51"
            resource="Module_Test::discount"
                    />
        <add
                id="Module_Test::config"
                title="Show config"
                module="Module_Test"
                resource="Module_Test::config"
                sortOrder="10"
                action="null"
                parent="Module_Test::discount"
        />
        <add
            id="Module_Test::discount_configuration"
            title = "Show smth"
            module="Module_Test"
            resource="Module_Test::discount_configuration"
            parent="Module_Test::config"
            />
    </menu>
</config>